* {
    box-sizing: border-box;
  }
  @font-face {
    src: url("../font/SF-Pro.ttf");
    font-family: "SF-Pro";
  }
  @font-face {
    src: url("../Font/SF-Pro-Italic.ttf");
    font-family: "SF-Pro-Italic";
  }

  body {
      font-family: "SF-Pro";
  }
  a {
    color: #000000;
    text-decoration: none;
    font-family: 'SF-Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
  }
  .greencolor{
    color: #197C9B;
  }
  .black_greencolor{
    color: #197C9B;
    font-weight: 700;
font-size: 14px;
line-height: 17px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 32px 100px;
    width: 100%;
    position: fixed;
  background-color: none;
  z-index: 10000;
  background-color: #ffffff;
  }

  #lenguagerus:hover, #lenguagegal:hover, #contactnav:hover, #aboutusnav:hover, #pricesnav:hover, #productnav:hover, #trainingnav:hover, #lenguageen:hover{
    color: #684B7D;
    border-bottom: 1px solid #684B7D;
    padding-bottom: 3px
  }
  .wearehere{
    color: #684B7D;
    border-bottom: 2px solid #684B7D;
    padding-bottom: 3p
  }
  .menu{
    width: 590px;
    display: flex;
justify-content: space-between;
width: 497px;
height: 27px;
left: 585.5px;
top: 52px;
  }
#lenguagerus{
  height: 27px;
  font-size: 10px;
}
#lenguagegal{
  height: 27px;
  font-size: 10px;
  margin-left: 20%;
}
#signup{
  height: 27px;
  margin-left: 50%;
}
  .lenguagenav{
    font-family: "SF-Pro";
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 80px;
    height: 27px;
    left: 1509px;
    top: 55px;
  }
.indexvalueproporsal{
  color:#197C9B;
  margin-bottom: 2%;
}
#header_img{
width: 100%; /* You must set a specified height */
height: auto;
}
#header_img_bg{
  background-image: url("/images/header_img.png");
  
}
#topbgtwo{
  width: 682px;
  height: 259.5px;
}
.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4%;
  padding-left: 8%;
  padding-right: 8%;
}
#claimandbutton{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

}
#textclaim{
  display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
text-align: center;

}
  h1 {
    position: static;
width: auto;
height: auto;
left: 180px;
top: 0px;
font-family: 'SF-Pro';
font-style: normal;
font-weight: 860;
font-size: 96px;
line-height: 115px;
color: #2d2d2d;
  }  
  h2{
    font-family: "SF-Pro";    
font-size: 48px;
color: #2d2d2d;
margin-bottom: 32px;
  }
  h3{
    font-family: "SF-Pro";
    font-style: normal;
    font-weight: 590;
font-size: 48px;
line-height: 57px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.02em;
color: #2d2d2d;
  }
h4{
  font-family: 'SF-Pro';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
display: flex;
align-items: center;
letter-spacing: -0.02em;
color: #2d2d2d; 
}
h5{
  font-family: "SF-Pro";    
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #2d2d2d;
  font-weight: 274;
font-size: 24px
}
 
p{
  font-size: 14px;
line-height: 24px;
margin-top: 8px;
font-family: "SF-Pro"
}
.black
{font-weight: 700;
font-size: 14px;
line-height: 17px;
}
.blackpurple{
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
color: #775591;
}
  button{
justify-content: center;
align-items: center;
width: 448px;
height: 64px;
color: #ffffff;
background: #775591;
box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.16);
border-radius: 16px;
border:none;
font-family: 'SF-Pro';
font-style: normal;
font-weight: 590;
font-size: 20px;
}

 button:hover {
  font-family: 'SF-Pro';
font-style: normal;
width: 448px;
height: 64px;
font-weight: 700;
font-size: 20px;
flex-grow: 0;
padding: auto;
left: 20px;
top: 118px;
  background: #684B7D;
  border: 3px solid #684B7D;
box-sizing: border-box;
box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.25);
}
.secondary{
  background: #FFFFFF;
border: 2px solid #775591;
color: #775591;
margin-top: 4%;
}
.secondarylessmargin{
  background: #FFFFFF;
border: 2px solid #775591;
color: #775591;
margin-top: 1%;
}
.secondarynomargin{
  background: #FFFFFF;
border: 2px solid #775591;
color: #775591;
}
.secondarynomarginyestop{
  background: #FFFFFF;
border: 2px solid #775591;
color: #775591;
margin-top: 6%;
}

.secondary:hover{
  color: #684B7D;
  border: 1px solid #684B7D;
  background: #FFFFFF;
border: 1px solid #684B7D;
font-weight: 700;
font-size: 20px;
}
.secondarynomargin:hover{
  color: #684B7D;
  border: 1px solid #684B7D;
  background: #FFFFFF;
border: 1px solid #684B7D;
font-weight: 700;
font-size: 20px;
}
.secondarynomarginyestop:hover{
  color: #684B7D;
  border: 1px solid #684B7D;
  background: #FFFFFF;
border: 1px solid #684B7D;
font-weight: 700;
font-size: 20px;
}
.secondarylessmargin:hover{
  color: #684B7D;
  border: 1px solid #684B7D;
  background: #FFFFFF;
border: 1px solid #684B7D;
font-weight: 700;
font-size: 20px;
}
.tertiary{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
background: #775591;
box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.16);
border-radius: 16px;
height: 40px;
width: auto;
margin-top: 16px;
}
.tertiary:hover{
  background: #684B7D;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.16);
  border-radius: 16px;
  height: 40px;
  width: auto;
}
.fourth{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
height: 40px;
left: 583px;
background: #FFFFFF;
border: 2px solid #775591;
box-sizing: border-box;
box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.16);
border-radius: 16px;
width: auto;
margin-top: 16px;
color: #775591;
}
.fourth:hover{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
height: 40px;
left: 583px;
background: #FFFFFF;
border: 1px solid #775591;
box-sizing: border-box;
box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.16);
border-radius: 16px;
width: auto;
}
.phantombutton{
  font-size: 14px;
line-height: 24px;
margin-top: 8px;
font-family: "SF-Pro";
background: rgba(212, 209, 233, 0.5);
box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.10);
border-radius: 3px;
padding: 0px 0px;
height: auto;
width: auto;
color: #684B7D;
font-weight: 500;
}
.phantombutton:hover{
  font-size: 14px;
line-height: 24px;
margin-top: 8px;
font-family: "SF-Pro";
background: rgba(212, 209, 233, 0.5);
box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.14);
border-radius: 3px;
padding: 0px 0px;
height: auto;
width: auto;
color: #775591;
border: none;
font-weight: 500;
}

.phantombuttonvisitoutweb{
  font-size: 20px;
  font-weight: 700;
line-height: 24px;
margin-top: 8px;
font-family: "SF-Pro";
background: rgba(212, 209, 233, 0.5);
box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.10);
border-radius: 3px;
padding: 0px 0px;
height: auto;
width: auto;
color: #684B7D;
font-weight: 500;
margin-left: 8px;
margin-right: 8px;
}
.phantombuttonvisitoutweb:hover{
  font-size: 20px;
  font-weight: 700;
line-height: 24px;
margin-top: 8px;
font-family: "SF-Pro";
background: rgba(212, 209, 233, 0.5);
box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.14);
border-radius: 3px;
padding: 0px 0px;
height: auto;
width: auto;
color: #775591;
font-weight: 500;
margin-left: 8px;
margin-right: 8px;
border: none;
}
.linkinmiddle{
  display: flex;
  flex-direction: row;
  align-content: center;
}

#dots{
  color: #000000;
}
#more{
  color: #000000;
}



.animation-target {
  -webkit-animation: animation 1060ms linear both;
  animation: animation 1060ms linear both;
}

/* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bs%3A%5B%7BT%3A%22c%22%2Ce%3A%22b%22%2Cd%3A1000%2CD%3A0%2Cf%3A%7Bx%3A0%2Cy%3A0%7D%2Ct%3A%7Bx%3A1%2Cy%3A1%7D%2Cs%3A1%2Cb%3A4%7D%2C%7BT%3A%22c%22%2Ce%3A%22b%22%2Cd%3A1000%2CD%3A60%2Cf%3A%7Bx%3A0%2Cy%3A0%7D%2Ct%3A%7Bx%3A1%2Cy%3A1%7D%2Cs%3A1%2Cb%3A6%7D%5D%7D */

@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.44% { -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.56% { -webkit-transform: matrix3d(0.57, 0, 0, 0, 0, 0.57, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.57, 0, 0, 0, 0, 0.57, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.66% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.87% { -webkit-transform: matrix3d(0.359, 0, 0, 0, 0, 0.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.359, 0, 0, 0, 0, 0.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.88% { -webkit-transform: matrix3d(0.36, 0, 0, 0, 0, 0.36, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.36, 0, 0, 0, 0, 0.36, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.08% { -webkit-transform: matrix3d(0.973, 0, 0, 0, 0, 0.973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.973, 0, 0, 0, 0, 0.973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.32% { -webkit-transform: matrix3d(1.194, 0, 0, 0, 0, 1.194, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.194, 0, 0, 0, 0, 1.194, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.29% { -webkit-transform: matrix3d(1.462, 0, 0, 0, 0, 1.462, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.462, 0, 0, 0, 0, 1.462, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.66% { -webkit-transform: matrix3d(1.607, 0, 0, 0, 0, 1.607, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.607, 0, 0, 0, 0, 1.607, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.5% { -webkit-transform: matrix3d(1.612, 0, 0, 0, 0, 1.612, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.612, 0, 0, 0, 0, 1.612, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.19% { -webkit-transform: matrix3d(1.443, 0, 0, 0, 0, 1.443, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.443, 0, 0, 0, 0, 1.443, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.95% { -webkit-transform: matrix3d(1.386, 0, 0, 0, 0, 1.386, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.386, 0, 0, 0, 0, 1.386, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.77% { -webkit-transform: matrix3d(1.17, 0, 0, 0, 0, 1.17, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.17, 0, 0, 0, 0, 1.17, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.24% { -webkit-transform: matrix3d(1.018, 0, 0, 0, 0, 1.018, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.018, 0, 0, 0, 0, 1.018, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.46% { -webkit-transform: matrix3d(0.963, 0, 0, 0, 0, 0.963, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.963, 0, 0, 0, 0, 0.963, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.05% { -webkit-transform: matrix3d(0.882, 0, 0, 0, 0, 0.882, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.882, 0, 0, 0, 0, 0.882, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.52% { -webkit-transform: matrix3d(0.879, 0, 0, 0, 0, 0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.879, 0, 0, 0, 0, 0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  38.72% { -webkit-transform: matrix3d(0.918, 0, 0, 0, 0, 0.918, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.918, 0, 0, 0, 0, 0.918, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40.32% { -webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.942, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.59% { -webkit-transform: matrix3d(1.017, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.017, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  49.2% { -webkit-transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.68% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  62.13% { -webkit-transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.67% { -webkit-transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80.65% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.22% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.34% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.44% { -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.56% { -webkit-transform: matrix3d(0.57, 0, 0, 0, 0, 0.57, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.57, 0, 0, 0, 0, 0.57, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.66% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.87% { -webkit-transform: matrix3d(0.359, 0, 0, 0, 0, 0.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.359, 0, 0, 0, 0, 0.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.88% { -webkit-transform: matrix3d(0.36, 0, 0, 0, 0, 0.36, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.36, 0, 0, 0, 0, 0.36, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.08% { -webkit-transform: matrix3d(0.973, 0, 0, 0, 0, 0.973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.973, 0, 0, 0, 0, 0.973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.32% { -webkit-transform: matrix3d(1.194, 0, 0, 0, 0, 1.194, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.194, 0, 0, 0, 0, 1.194, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.29% { -webkit-transform: matrix3d(1.462, 0, 0, 0, 0, 1.462, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.462, 0, 0, 0, 0, 1.462, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.66% { -webkit-transform: matrix3d(1.607, 0, 0, 0, 0, 1.607, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.607, 0, 0, 0, 0, 1.607, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.5% { -webkit-transform: matrix3d(1.612, 0, 0, 0, 0, 1.612, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.612, 0, 0, 0, 0, 1.612, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.19% { -webkit-transform: matrix3d(1.443, 0, 0, 0, 0, 1.443, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.443, 0, 0, 0, 0, 1.443, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.95% { -webkit-transform: matrix3d(1.386, 0, 0, 0, 0, 1.386, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.386, 0, 0, 0, 0, 1.386, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.77% { -webkit-transform: matrix3d(1.17, 0, 0, 0, 0, 1.17, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.17, 0, 0, 0, 0, 1.17, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.24% { -webkit-transform: matrix3d(1.018, 0, 0, 0, 0, 1.018, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.018, 0, 0, 0, 0, 1.018, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.46% { -webkit-transform: matrix3d(0.963, 0, 0, 0, 0, 0.963, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.963, 0, 0, 0, 0, 0.963, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.05% { -webkit-transform: matrix3d(0.882, 0, 0, 0, 0, 0.882, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.882, 0, 0, 0, 0, 0.882, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.52% { -webkit-transform: matrix3d(0.879, 0, 0, 0, 0, 0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.879, 0, 0, 0, 0, 0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  38.72% { -webkit-transform: matrix3d(0.918, 0, 0, 0, 0, 0.918, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.918, 0, 0, 0, 0, 0.918, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40.32% { -webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.942, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.59% { -webkit-transform: matrix3d(1.017, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.017, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  49.2% { -webkit-transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.68% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  62.13% { -webkit-transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.67% { -webkit-transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80.65% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.22% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.34% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}






#claim{
  font-family: 'SF-Pro';
font-style: normal;
font-weight: 274;
font-size: 64px;
line-height: 76px;
display: flex;
align-items: center;
letter-spacing: -0.02em;
color: #775591;
}
.claimtwo{
  font-family: 'SF-Pro';
font-style: normal;
font-weight: 110;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.02em;
color: #2d2d2d;
}
#aboutproducsection{
  margin-top: 4%;
}
#space{
  padding-top: 8%;
}
#spacebotton{
  padding-bottom: 4%;
}
#space_less{
  padding-top: 4%;
}
#space_botton_less{
  padding-bottom: none;
}
#spacebetweenspace_less{
  padding-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}
#padding{
  padding-left: 12%;
  padding-right: 12%;
}
#spacebottonpluspadding{
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
}
.valueproporsal{
  width: 100%;
align-items: center;
text-align: center;
display: flex;
flex-direction: column;
}
.aboutproducttextandbutton{
  display: flex;
 flex-direction: column;
 align-items: center;
 height: auto;
 margin-left: 80px;
 margin-right: 80px;
}
.aboutproducttextone{
  display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;


padding-bottom: 24px;
}
.aboutproducttexttwo{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 padding-top: 24px;
 padding-bottom: 24px;
}

.video{
width: 623px;
height: 489px;
border-radius: 32px;
}


 #aboutproductone{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 background-color: #f7f7f777;
 padding: 4%;
 border-radius: 16px;
 }
 #aboutproducttwo{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 margin-top: 10%;
 }
 #aboutproductmodules{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 }
 .aboutproductmodules{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.aboutproductmodulesproductone{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 2%;
}
.aboutproductmodulesproducttwo{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 2%;
}
 .protitle{
   display:flex;
   flex-direction: column;
   text-align: center;
   justify-content: space-between;
   text-align: center;
 }
 #protext{
  display:flex;
  flex-direction: column;
  align-items: center;

 }
 #modules{
   color: #197C9B;
   align-items: center;
   text-align: center;
   font-weight: 110;
font-size: 24px;
line-height: 43px;
 }
 #regional{
  color: #D47048;
  align-items: center;
  text-align: center;
  font-weight: 110;
  font-size: 24px;
  line-height: 43px;;

}
#social{
  color: #684B7D;
  align-items: center;
  text-align: center;
  font-weight: 110;
  font-size: 24px;
  line-height: 43px;;
}
.moresmartmoretiosection{
    width: 100%;
  height: 100%;
  padding:4%;
  margin-top: 4%;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.16);
}

.morecards{
  width: auto;
height: auto;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding-left: 6%;
padding-right: 6%;
padding-top: 6%;
}
.morecardsproduct{
  width: auto;
height: auto;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding-left: 6%;
padding-right: 6%;
}
#modulecard{
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#regionalcard{
  background-color: #ffffff;
  border-radius: 16px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#errorimg{
  width: 480px;
height: 480px;
}
#error{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#forhepadding{
  padding-bottom: 24px;
}
#rrssgroup{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
justify-content: space-between;
position: static;
width: 159.21px;
height: 27.8px;
left: 103.9px;
top: 0px;

}
#footertext{
display: flex;
flex-direction: column;
position: static;
width: auto;
height: 40px;
align-items: center;
}
#rightsreservedtext{
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
#legal{
color: #197C9B;
display: flex;
flex-direction: row;
justify-content: space-between;
width: 360px;
padding-top: 16px;
padding-bottom: 16px;
}
.demoandtutorials{
  display: flex;
flex-direction: row;
justify-content: space-between;

width: 100%;
height: auto;
}
.demo{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
align-items: center;
text-align: center;
padding: 56px 42px;
background-color: #F7F7F7;
border-radius: 16px;
margin-top: 6%;
margin-right: 80px;
}
.demoandtutorialtext{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.trainings{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
align-items: center;
text-align: center;
padding: 56px 42px;
border-radius: 16px;
margin-top: 6%;
margin-right: 80px;
background-color: #ffffff;
}


.buttontraining{
  margin-top: 6%;
  border: 2px solid #775591;

}
footer{
  display: flex;
flex-direction: column;
align-items: center;
padding-top: 48px;
padding-bottom: 24px;
align-self: center;
width: auto;
height: 75.8px;
justify-content: space-between;
top: 2234px;
margin-top: 100px;}

/*----------Contact-----------*/
.contactcards{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.contactcardandbutton{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
height: auto;

align-items: center;
}
#contactcardandbuttonsales{margin-right: none;}
.contactcard{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 408px;
  height: 408px;
  justify-content: space-between;
  box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.16);
border-radius: 16px;
padding: 24px;
  }
  .contactcardandbutton-button{
    width: 408px; 
    margin-top: 16px;
  }
  .contactcardandbutton-button:hover{
    width: 408px; 
    margin-top: 16px;
  }

#sales{
  width: 50%;
  height: 50%;
}
#support{
  width: 50%;
  height: 50%;
}

/* ------------------------------Prices -----------------------------*/

/*Segment control*/





/*Fin segment control*/
.spanpurple{
  color: #775591;
}
#faqseparator{
  margin-top: 4%;
}
.bottomseparator{
  margin-bottom: 4%;
}
#faqandotherreasons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#faqcard{
  width: 443px;
height: auto;
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}
#faqcardrus{
  width: 443px;
height: auto;
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 8%;
}
#otherreason{
  width: 443px;
height: auto;
background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.16);
border-radius: 16px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
padding: 24px;
}

/*map section*/
.contactmap{
  display: flex;
  flex-direction: row;
 
  justify-content: space-between; 
  width: 100%;
  align-items: center;
}
.contactmapmargin{
  display: flex;
  flex-direction: row;
 margin-top: 8%;
  justify-content: space-between; 
  width: 100%;
  align-items: center;
}
#contactmapastro{
display: flex;
flex-direction: row;
}
iframe{
  border-radius: 16px;
}
.hereweare{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contenedor{
  position: relative;
  text-align: center;
}
.contenedorheader{
  position: relative;
  text-align: right;
  width: 100%;
  height: auto;
}
.centrado{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.centradoheader{
  position: absolute;
  top: 30%;
  left: 65%;
  transform: translate(-10%, -10%);
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
}
.centradotext{
  color:#ffffff;
}
.centradotextheader{
  color:#684B7D;
}
.centradotextsubheader{
  color:#197C9B;
}
.centradotextsubsubheader{
  color:#000000;
}
#maptitle{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#purpletitle{
  color: #775591;
  margin-right: 8px;
}


/*form*/
.formsection{
  padding-top: 100px;
  
}
.formarea{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contactimg{
width: 400px;
height: auto;
}
.formtitle{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formtitleresponsive{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}
.contact_form{  
  width: 775px; 
  height: auto;
  margin: 48px auto;
  border-radius: 10px;  
  padding-top: 24px;
  padding-bottom: 24px; 
  padding-right: 24px; 
  background-color: #ffffff; 
  padding-left: 24px; 
}
.selector{
  height: 56px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 16px;
  width: 100%;
}
.selectorlabel{
  padding-bottom: 8px;
}
input:not([type="radio"]){
  background-color: #ffffff; 
  height: 32px; 
  border-radius: 16px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #d4d4d4; 
  margin-top: 8px;  
  padding-left: 16px;
  margin-bottom: 24px;
  /*El tamaño está en html en size*/ 
}
#emailformgroup{
  display: flex;
  flex-direction: row;
  width: 727px;
  justify-content: space-between;
}
#phoneandnameformgroup{
  display: flex;
  flex-direction: row;
  width: 727px;
  justify-content: space-between;
}
.enter_email{
  width: 320px;
}
textarea{
  background-color: #ffffff; 
  width: 100%; 
  height: 150px; 
  border-radius: 8px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #D4D4D4; 
  margin-top: 8px;  
  padding-left: 16px;
  margin-bottom: 0px; 
  padding-top: 16px; 
}
label{
  display: block; 
  float: center;  
}
span{
  color: #197C9B; 
  padding-right: 8px;
}
.aviso{
  font-size: 13px;  
  color: #2d2d2d;  
  padding-left: 8px;
}
::-webkit-input-placeholder {
  color: #C0C0C0;
 }
 ::-webkit-textarea-placeholder {
  color: #C0C0C0;
 }
 .formulario option:focus{
   outline:0;
   border: 1px solid #684B7D;
   color: #684B7D; 
 }
 .formulario input:focus{
  outline:0;
  border: 1px solid #684B7D;
  color: #684B7D; 
}
input:invalid+span:after {
  position: absolute; content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
  
}
 .radiobutton{
   padding-top: 16px;
   padding-bottom: 16px;
   display: flex;
   flex-direction: row;
 }
 input[type='radio']:after {
  width: 8px;
  height: 8px;
  border-radius: 16px;
  position: relative;
  background-color: #ffffff;
  display: inline-block;
  visibility: visible;
  border: 2px solid #775591;
}

input[type='radio']:checked:after {
  width: 8px;
  height: 8px;
  border-radius: 16px;
  position: relative;
  background-color: #197C9B;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #197C9B;
}

 .radiobuttonlabel{
   padding-left: 8px;
   font-size: 12px;
   line-height: 16px;
   font-family: "SF-Pro"
 }
 .formulario textarea:focus{
   outline:0;
   border: 1px solid #684B7D;
   color: #684B7D; 
 }
 .selectdropdown{
  font-family: "SF-Pro";
  color: #C0C0C0;
  box-sizing: border-box;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.16);
  /*Padding en selector Jugar con el tamaño y el padding*/
  height: 32px; 
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  display: block;
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  padding: .4em 1.4em .3em .8em;
 }

 .selectdropdown::-ms-expand {
  display: none;
}
.selectdropdown:hover {
  border-color: #684B7D;
}
.selectdropdown:focus {
  border-color: none;
  box-shadow: 0 0 1px 1px #775591;
  color: #775591; 
  outline: none;
}
option::-ms-check{
  color: #D47048;  
}
label{
  font-family: "SF-Pro"
}
#enviar{
  width: 100%;
}


/*Aboutus*/

#logoay{
  width: 28px;
  height: 24.35px;
  margin-right: 4px;
}
.logofrase{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 32px;
}

#logo{
  
  width: auto;
}

.aboutusheadertitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.aboutusheadertitlecopy{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 200px;
}
.aboutusheader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 200px;
}
#aboutusimg{
  Width: 519px;
Height: 443.14px;
}
.values{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 100px;
  margin-bottom: 24px;
  background-color: #F7F7F7;
  height: auto;
  width: 100%;
}
.valuesrus{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 16%;
  padding-right: 16%;
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: #F7F7F7;
  height: auto;
  width: 100%;
}

.howweworkandvalues{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.howweworkandvalueslist{
  margin-top: 24px;
  text-align: center;
}
.onevalue{
  padding-top: 8px;
}
#marginrusvalues{
  margin-top: 8%;
  margin-bottom: 8%;
}
#marginrusvaluestwo{
  margin-top: 8%;
  margin-bottom: 2%;
}
  /*span con class="purple". Al eliminar queda el agua marina
  .purple{
     color: #684B7D;
}*/

.ourvalues{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.ourvaluesrus{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F7F7;
  }
.weblink{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  height: 24px;
}
.visitourweb{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  height: 24px;
  margin-left: 8px;
  margin-right: 8px;
}
.linkintext{
  color:#775591;
  font-weight: 700;

line-height: 24px;
text-shadow: 0px 2px 8px rgba(15, 15, 15, 0.16);
margin-left: 8px;
text-shadow: none;
}
.linkintext:hover{
  color: #684B7D;
  text-shadow: 0px 2px 8px rgba(15, 15, 15, 0.25);/*bajar*/
  border-bottom: none;
}


/* ----------------------------------Prices------------------------------------------ */
.pricessection{
  width: 100%;
height: 100%;
padding-top: 10%;
padding-bottom: 4%;
}
.openingsection{
  width: 100%;
height: 100%;
padding-top: 14%;
padding-bottom: 4%;
}
.alignedcenter{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.pricecard{
  width: auto;
  min-width: 345px;
  max-width: 345px;
height: auto;
display: flex;
flex-direction: row;
align-items: center;

}
.pricecardusers{
  width: 100%;
  max-width: 345px;
  min-width: 345px;
height: auto;
display: flex;
flex-direction: row;
align-items: center;
box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.10);
}
#spacebetween{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.pricecardusersmodule{
  width: 100%;
  max-width: 228px;
  min-width: 228px;
height: auto;
display: flex;
flex-direction: row;
align-items: center;
box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.10);
justify-content: center;
}
.pricecardusersmodule:hover{
  width: 100%;
  max-width: 228px;
  min-width: 228px;
height: auto;
display: flex;
flex-direction: row;
align-items: center;
box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.25);
justify-content: center;
color: #197C9B;
}

.pricecardusers:hover{
  width: 100%;
  max-width: 345px;
  min-width: 345px;
height: auto;
display: flex;
flex-direction: row;
align-items: center;
box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.25);
color: #197C9B;
}

#oneyear{
  background-color: #F7F7F7;
  border-radius: 16px;
}
#userbuton{
  background-color: #Ffffff;
  border-radius: 16px;
  justify-content: center;
}


#twoyears{
  background-color: #ffffff;
  filter: drop-shadow(0px 2px 8px rgba(119, 85, 145, 0.16));
  border-radius: 16px;
}
.pricecards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: auto;
}
.pricecardsbuttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: auto;
  margin-bottom: 1%;
}

.pricecardsru{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: auto;
}
.pricecard{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.pricecardmodule{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;

  margin-bottom: 24px;
  max-width: 560px;
}

.pricecardru{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;
}
.usersoptions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}
.appoptions{

  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
.usersallowed{
  display: flex;
  flex-direction: row;
}
.oneuseroption{
  background-color: #ffffff; 
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  margin-left: 8px;
  box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.16);
}
.pricecardtitleone{
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em; 
  text-align: center;
  justify-content: center;
  margin-top: 4%;
}
.pricecardtitletwo{
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em; 
  color: #775591;
}
.purple{
  font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #775591;
}

/*
Para arreglar el/los fallos
.test{
  width: 400px;
  height: 600px;
  background-color: #D47048;
  margin-top: 8px;
}
*/
.pricesbuttons{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 6%;
}
#nomarginbutton{
  margin-top: none;
  padding-top: none;
}

/* Accordion sacado de: https://codepen.io/havardob/pen/abBJgQo Otros en: https://freefrontend.com/css-accordions/ */


*, *:after, *:before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

*:focus {
	outline: none;
}

body > div {
	width: 100%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

details div {
  padding-top: 0.5em;
	padding-bottom: 2.5em;
  padding-left: 3.2em;
}

details div > * + * {
	margin-top: 1.5em;
}

details + details {
	margin-top: .5rem;
}

summary {
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

summary {
	padding: .75em 1em;
	cursor: pointer;
	position: relative;
	padding-left: calc(1.75rem + .75rem + .75rem);
  text-align: center;
  width: 100%;
  background-color: #FFFFFF;
}

summary:before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: .75rem;
	content: "↓";
	width: 1.75rem;
	height: 1.75rem;
	background-color: #FFFFFF;
	color: #775591;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

details[open] summary {
	background-color: #ffffff;
  color: #684B7D;
  font-weight: 500;
}

details[open] summary:before {
	content: "↑";
  background-color: #FFFFFF;
	color: #775591;
  font-weight: 500;
  
}
details[open] summary:hover {
	content: "↑";
  background-color: #FFFFFF;
	color: #684B7D;
  font-weight: 500;
  
}

summary:hover {
	background-color: #ffffff;
  color: #684B7D;
  text-shadow: 0px 2px 8px rgba(15, 15, 15, 0.25);
  font-weight: 500;
}



/*a:hover {
	text-shadow: 0px 2px 6px rgba(15, 15, 15, 0.15);
}*/

code {
	font-family: "SF-Pro";
	font-weight: 600;
}
/* ----------------------------------------------- trainings ------------------------------------*/
.methodologyandtutorials{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 100%;
height: auto;
padding-top: 4%;
padding-bottom: 4%;
}
.methodology{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
align-items: center;
text-align: center;
padding: 56px 42px;
background-color: #Ffffff;
border-radius: 16px;
margin-top: 6%;
margin-right: 80px;
}
.squaretest{
  width: 400;
  height: auto;
  background: #197C9B;
}


.tutorials{
  background-color: #F7F7F7;
  border-radius: 16px; 
  width: 100%;
  height: auto;
  padding: 4%;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tutorialvideo{
  display: flex;
flex-direction: column;
justify-content: space-between;
width: 100%;
height: 100%;
background-color: #ffffff;
margin: 4%;
filter: drop-shadow(0px 2px 8px rgba(119, 85, 145, 0.16));
padding: 2%;
border-radius: 16px;
}
.tutorialvideotest{
  display: flex;
flex-direction: column;
width: 100%;
height: 100%;
background-color: #ffffff;
filter: drop-shadow(0px 2px 8px rgba(119, 85, 145, 0.16));
border-radius: 16px;
}
.videotutorialcsstest{
  width: 516px;
  height: 312px;
  border-radius: 16px;
}
.videotutorialcss{
  width: 516px;
  height: 312px;
  border-radius: 16px;
  margin-bottom: 4%;
}
.tutorialvideotitle{
  display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;  
}
#more {display: none;}
#downloadhover{
    display:none;
    filter: drop-shadow(0px 2px 8px rgba(15, 15, 15, 0.25));
}
#downloadactive{
  display:block;
  filter: drop-shadow(0px 2px 8px rgba(15, 15, 15, 0.16));
}
#downloadactive:hover{
  display:none;
}
#downloadactive:hover ~ #downloadhover{
  display:block;
}
#noline ~ a:hover{
  text-decoration: none;
  border-bottom:none
}


#problem_notseen{
  padding-top: 8%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  

h6{
  font-family: "SF-Pro";    
  font-size: 15px;
  color: #2d2d2d;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}
.textcenter{
  font-family: "SF-Pro";
  font-size: 15px;
}
.heartgroup{
  text-align: center;
}
@media only screen and (min-width: 1441px) {
  #movileresponsive{
    display: none;
  }
  #desktop{
    display: block;
  }
  body, nav {
    max-width: 1440px;
    margin: auto;
  }
  #responsivenav{
    display: none;
  }

  #contactresponsive{
    display: none;
  }
  #contactdesktop{
    display: block;
  }
  #mapresponsive{
    display: none;
  }
  #mapdesktop{
    display: block;
  }
  #demoandtutorialresponsive{
    display: none;
  }
  #demoandtutorialdesktop{
    display: block;
  }
  #productresponsive{
    display: none;
  }
  #productdesktop{
    display: block;
  }
  #indexresponsive{
    display: none;
  }
  #indexdesktop{
    display: block;
  }
  #pricesresponsive{
    display: none;
  }
  #pricesdesktop{
    display: block;
  }

  #tutorialresponsive{
    display: none;
  }
  #tutorialdesktop{
    display: block;
  }
}
@media only screen and (min-width: 416px){
  #movileresponsive{
    display: none;
  }
  #desktop{
    display: block;
  }
  #contactresponsive{
    display: none;
  }
  #contactdesktop{
    display: block;
  }
  #mapresponsive{
    display: none;
  }
  #mapdesktop{
    display: block;
  }
  #responsivenav{
    display: none;
  }
  #demoandtutorialresponsive{
    display: none;
  }
  #demoandtutorialdesktop{
    display: block;
  }
  #productresponsive{
    display: none;
  }
  #productdesktop{
    display: block;
  }

  #indexresponsive{
    display: none;
  }
  #indexdesktop{
    display: block;
  }
  #tutorialresponsive{
    display: none;
  }
  #tutorialdesktop{
    display: block;
  }
  #pricesresponsive{
    display: none;
  }
  #pricesdesktop{
    display: block;
  }

}
@media only screen and (max-width:415px){
 
  body, nav {
    max-width: 416px;
    margin: auto;
    padding: 4%;
  }



  #responsivenav{
    display: block;
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 0%;
    padding-left: 4%;
    padding-bottom: 4%;
    
  }
  #desktopnav{
    display: none;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  header {
    height: 64px;
    background: #ffffff;
    color: #684B7D;
    display: flex;
    justify-content: flex-end;
  }
  
  #btn-menu {
    display: none;
  }
  
  header label {
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  
  .menu ul {
    background: #775591;
    display: flex;
    list-style: none;
    border-radius: 16px;
  }
  
  .menu ul ul {
    display: none;
  }
  
  .menu a {
    display: block;
    padding: 16px 16px;
    color: #FFF;
    text-decoration: none;
    line-height: 32px;
    font-family: 'SF-Pro';
    font-weight: 700;
    border-radius: 16px;
  }
  
  .menu a:hover {
    background: #684B7D;
  }
  
  .menu a i {
    margin-left: 10px;
  }
  
  .menu ul li:hover ul {
    transition: all 0.3s ease;
    display: block;
    position: absolute;
  }
  header label {
    display: block;
    padding-top: 16px;
    padding-right: 0px;
    transition: all 0.4s ease;
  }
  .menu {
    position: absolute;
    top: 64px;
    left: 0;
    width: 70%;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  .menu ul {
    flex-direction: column;
    display: block;
  }
  .menu ul li:hover ul {
    display: none;
    position: static;
  }
  
  
  .menu a i {
    position: absolute;
    right: 16px;
    line-height: 32px;
  }
  
  #btn-menu:checked ~ .menu {
    transform: translateX(120%); /*En 100 se queda un trocito sin pegar a la pared pero no encuentro el margin */
  }
  #lan-menu:checked ~ .menu {
    transform: translateX(0%);
  }
  
 .wearehereresponsive{
   background-color: #684B7D;
 }


 #indexresponsive{
  display: block;
}
#indexdesktop{
  display: none;
}




  



  
  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;
    width: 100%;
    position: fixed;
  background-color: none;
  z-index: 10000;
  background-color: #ffffff;
  }
  .lenguagenav{
    font-family: "SF-Pro";
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 10%;
    height: 27px;
    left: 1509px;
    top: 55px;
  }

  #logo{
    height: 24px;
    width: auto;
  }

  .menu{ 
    display: flex;
justify-content: space-between;
width: auto;
height: auto;
  }



  h1 {
position: static;
width: auto;
height: auto;
left: 180px;
top: 0px;
font-family: 'SF-Pro';
font-style: normal;
font-weight: 860;
font-size: 96px;
line-height: 115px;
color: #2d2d2d;
font-family: 'SF-Pro';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
}

  h2{
    font-family: "SF-Pro";    
font-size: 48px;
color: #2d2d2d;
margin-bottom: 32px;
  }
  h3{
    font-family: "SF-Pro";
    font-style: normal;
    font-weight: 590;
font-size: 48px;
line-height: 57px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.02em;
color: #2d2d2d;
  }
h4{
  font-family: 'SF-Pro';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
display: flex;
align-items: center;
letter-spacing: -0.02em;
color: #2d2d2d; 
}
h5{
  font-family: "SF-Pro";    
  font-style: normal;
  font-weight: 400;
font-size: 20px;
line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #2d2d2d;
  font-weight: 274;
font-size: 24px
}
 
p{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
margin-top: 8px;
font-family: "SF-Pro"
}

button{
  justify-content: center;
  align-items: center;
  width: 224px;
  height: 32px;
  color: #ffffff;
  background: #775591;
  box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.16);
  border-radius: 16px;
  border:none;
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 590;
  font-size: 20px;
  }

  .centradoheader{
    position: absolute;
    top: 75%;
    left: 65%;
    transform: translate(-70%, -50%);
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    
  }

  .top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    text-align: center;

    margin-bottom: 4%;
    padding-left: 8%;
    padding-right: 8%;
  }
.indexvalueproporsal{

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
}
#aboutproductone{
  display: flex;
  flex-direction: column;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 background-color: #f7f7f777;
 padding: 4%;
 border-radius: 16px;
 }
 #aboutproducsection{
  margin-top: 4%;
}

#topbgtwo{
  width: 227.33px;
  height: 86.5px;
}
#aboutproductmodules{
  display: flex;
  flex-direction: column;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 }
 .video{
  width: 320px;
  height: 251.17px;
  border-radius: 16px;
  margin-top: 4%;
  }
  #aboutproducttwo{
    display: flex;
    flex-direction: column-reverse;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin-top: 10%;
   }
   .morecards{
    width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 6%;
  }
  .pricesbuttons{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 6%;
  }
  .secondarynomargin{
    background: #FFFFFF;
  border: 2px solid #775591;
  color: #775591;
  margin-bottom: 4%;
  }
  .forresponsive{
    margin-bottom: 8%;
  }
  .moresmartmoretiosection{
    width: 100%;
  height: 100%;
  padding:4%;
  margin-top: 16%;
  background-color: #f7f7f777;
  border-radius: 16px;
  box-shadow: none;
}


/*New prices*/
.pricecardmodule{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    max-width: 345px;
}
.pricecardusersmodule{
  width: 100%;
  max-width: 147px;
  min-width: 147px;
height: auto;
display: flex;
flex-direction: row;
align-items: center;
box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.10);
justify-content: center;
}
/*contact*/

#contactresponsive{
  display: block;
}
#contactdesktop{
  display: none;
}

.contactimg{
  width: 400px;
  height: auto;
  }
  .formarea{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact_form{  
    width: 100%; 
    height: auto;
    
    border-radius: 10px;  
    padding-top: 24px;
    padding-bottom: 24px; 
    padding-right: 24px; 
    background-color: #ffffff;  
  }

  

  #mapresponsive{
    display: block;
  }
  #mapdesktop{
    display: none;
  }
  .contactmapmargin{
    display: flex;
    flex-direction: column;
   margin-top: 8%;
    justify-content: space-between; 
    width: 100%;
    align-items: center;
  }
 
 /*product*/ 

 #demoandtutorialresponsive{
  display: block;
}
#demoandtutorialdesktop{
  display: none;
}

#productresponsive{
  display: block;
}
#productdesktop{
  display: none;
}

.demoandtutorials{
  display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: auto;
  height: auto;
  padding:6%;
  margin: 6%;
}
.demo{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
align-items: center;
text-align: center;
padding: 4%;
background-color: #F7F7F7;
}
.trainings{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
align-items: center;
text-align: center;
padding: 4%;
background-color: #ffffff;
}
.claimtwofocus{
  font-family: 'SF-Pro';
font-style: normal;
font-weight: 110;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.02em;
color: #197C9B;
}
.morecardsproduct{
  width: auto;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding-left: 6%;
padding-right: 6%;
}
.aboutproductmodulesproductone{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 16%;
}
.aboutproducttextandbutton{
  display: flex;
 flex-direction: column;
 align-items: center;
 height: auto;
 margin-left: 2%;
 margin-right: 2%;
}

/*training*/
.methodologyandtutorials{
  display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: 100%;
height: auto;
padding-top: 4%;
padding-bottom: 4%;
}
.trainings{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
align-items: center;
text-align: center;

border-radius: 16px;
margin: 4%;
background-color: #ffffff;
}
#tutorialresponsive{
  display: block;
}
#tutorialdesktop{
  display: none;
}
.videotutorialcss{
  width: auto;
  height: auto;
  border-radius: 16px;
  margin-bottom: 4%;
}
.tutorialvideo{
  display: flex;
flex-direction: column;
justify-content: space-between;
width: 100%;
height: 100%;
background-color: #ffffff;
margin: 4%;
filter: drop-shadow(0px 2px 8px rgba(119, 85, 145, 0.16));
padding: 2%;
border-radius: 16px;
}
.tutorials{
  background-color: #F7F7F7;
  border-radius: 16px; 
  width: 100%;
  height: auto;
  padding: 4%;
  align-items: center;
}


/* prices*/
#pricesresponsive{
  display: block;
}
#pricesdesktop{
  display: none;
}
.pricecards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.usersoptions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 
}
.pricecard{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.pricecardmodule{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  margin-bottom: 16px;
}

.usersoptions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
}
.appoptions{

  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.usersallowed{
  display: flex;
  flex-direction: row;
  width: 100%;
  
}
.oneuseroption{
  background-color: #ffffff; 
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4%;
  margin-left: 4%;
  box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.16);
}



/*about us*/
.aboutusheadertitlecopy{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 16%;
}
#logoay{
  width: 28px;
  height: 24.35px;
  margin-right: 4px;
}
/*Idea de Pedro para intentar juntar la letra A*/
.logofrase img { display: block; } 
/**/
.values{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 16%;
  margin-bottom: 4%;
  background-color: #F7F7F7;
  height: auto;
  width: 100%;
}
#space_botton_less{
  padding-bottom: 16%;
}

.howweworkandvalueslist{
  margin-top: 4%;
  text-align: center;
}
.visitourweb{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  height: 24px;
  margin-left: 8px;
  margin-right: 8px;
  /* Phantom button */

background: rgba(212, 209, 233, 0.5);
/* Bright Mode/ Shadow */

box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.16);
border-radius: 3px;
}
.contactmapmargin{
  display: flex;
  flex-direction: row;
 margin-top: 2%;
  justify-content: space-between; 
  width: 100%;
  align-items: center;
}
.hereweare{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 8%;
}
.tutorialvideo{
width: 100%;
height: 100%;
background-color: #ffffff;
margin: 0%;
filter: drop-shadow(0px 2px 8px rgba(119, 85, 145, 0.16));
padding: 4%;
border-radius: 16px;
}
}
