   /*Segmet control*/
.io-toggler {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font: 20px/1.5 sans-serif;
	background: #DADADA;
	color: #fff;
	border: 4px solid transparent;
	border-radius: 50px;
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.io-options {
	border-radius: 50px;
	top: 0;
	left: 0;
	overflow: hidden;
}

	.io-options span {
		position: relative;
		text-align: center;
		display: inline-block;
		padding: 3px 35px;
	}

	/* the jQ clone */
	.io-options + .io-options {
		position: absolute;
		background: #FAFAFA;
		width: 50%;
		height: 100%;
		white-space: nowrap;
	}

		.io-options + .io-options span {
			color: #000000;
		}
